* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(45deg,#e66465, #9198e5);
}

h1 {
	font-size: 22px;
	text-align: center;
	padding: 15px 25px;
	border-radius: 4px;
}

.ques-box {
	width: 100%;
	max-width: 800px;
	padding: 15px 25px;
	margin: 50px auto 0 auto;
	border-radius: 20px;
}

.option {
	display: flex;
}
.title {
	font-size: 18px;
	font-weight: 500;
	color: #2c69b9;
}
.option p {
	margin-left: 15px;
	position: relative;
	margin-top: 12px;
}

footer {
	 height: 80px;
	 text-align: center;
	 line-height: 80px;
 }