* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(45deg, #912f30, #5763ea);
}

.main-container {
	min-height: calc(100vh - 136px);
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.card {
	width: 100%;
	max-width: 800px;
	margin-top: 100px;
}

img {
	width: 100%;
	max-width: 350px;
	position: relative;
	display: block;
	margin: -180px auto 50px auto;
	border-radius: 50%;
}
.card button {
 	width: 45%;

}

footer {
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
}