* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(45deg,#e66465, #9198e5);
	background-size: cover;


	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.logo{
	border-radius:50%;
}

.main-container {
	min-height: calc(100vh - 136px);

}
/*.switch {*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	width: 60px;*/
/*	height: 34px;*/
/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch input {*/
/*	opacity: 0;*/
/*	width: 0;*/
/*	height: 0;*/
/*}*/

/*!* The slider *!*/
/*.slider {*/
/*	position: absolute;*/
/*	cursor: pointer;*/
/*	top: 0;*/
/*	left: 0;*/
/*	right: 0;*/
/*	bottom: 0;*/
/*	background-color: #ccc;*/
/*	-webkit-transition: .4s;*/
/*	transition: .4s;*/
/*}*/

/*.slider:before {*/
/*	position: absolute;*/
/*	content: "";*/
/*	height: 26px;*/
/*	width: 26px;*/
/*	left: 4px;*/
/*	bottom: 4px;*/
/*	background-color: white;*/
/*	-webkit-transition: .4s;*/
/*	transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
/*	background-color: #2196F3;*/
/*}*/

/*input:focus + .slider {*/
/*	box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
/*	-webkit-transform: translateX(26px);*/
/*	-ms-transform: translateX(26px);*/
/*	transform: translateX(26px);*/
/*}*/

/*!* Rounded sliders *!*/
/*.slider.round {*/
/*	border-radius: 34px;*/
/*}*/

/*.slider.round:before {*/
/*	border-radius: 50%;*/
/*}*/

/*button {*/
/*	appearance: auto;*/
/*	writing-mode: horizontal-tb !important;*/
/*	text-rendering: auto;*/
/*	color: buttontext;*/
/*	letter-spacing: normal;*/
/*	word-spacing: normal;*/
/*	line-height: normal;*/
/*	text-transform: none;*/
/*	text-indent: 0px;*/
/*	text-shadow: none;*/
/*	display: inline-block;*/
/*	text-align: center;*/
/*	align-items: flex-start;*/
/*	cursor: default;*/
/*	box-sizing: border-box;*/
/*	background-color: buttonface;*/
/*	margin: 0em;*/
/*	padding: 1px 6px;*/
/*	border-width: 2px;*/
/*	border-style: outset;*/
/*	border-image: initial;*/
/*}*/
footer {
	bottom: 0;
	height: 80px;
	width: 100%;
	text-align: center;
	line-height: 80px;
	margin-top: auto;
}